body {
    background-color: #ffe6e6;
    margin: 0;
    padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.envelope {
    background: none;
    border: none;
    cursor: pointer;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-bottom: -10px;
}

#unopened-envelope {
    width: 200px;
    height: auto;
    transition: all 0.3s ease;
}

#unopened-envelope:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

p {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    color: #333;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

#yes-hamster {
    width: 150px;
    height: auto;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

#yes-button {
    background-color: #fb74a8;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#no-button {
    background-color: #fb74a8;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yes-button:hover, #no-button:hover {
    background-color: #ff5c8a;
    transform: scale(1.05);
    transition: all 0.3s ease;
}